.bg{
    background-color: rgba(7,50,85,255);
    height: 100vh;
}
.wholeform{
    margin-top: 25vh;
    margin-left: 75vh;
    position: absolute;
    
}
.signup{
    background-color: rgba(17,13,85,255);
    box-shadow: 0px 6px 38px #999;
    width: 360px;
    height: 350px;
    margin: auto;
    border-radius: 1.5rem;

}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    padding-top: 10px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
form input{
    background: transparent;
    border: 0;
    outline: 0;
    
}
.input,input{
    border-bottom: 1.5px solid #fff;
    width: 43vh;
    color: #fff;
}
button{
    margin-top: 8vh;
    margin-left: -38vh;
}
.submit,button{
    color: blue;
    font-weight: 600;
}
span{
    color: red;
    font-style: italic;
    font-family: cursive;
    padding-top: 4vh;
}
.heading{
    color: yellow;
    margin-top: 16vh;
    margin-left: 77vh;
    font-size: 28px;
    position: absolute;

}